

.root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  --message-background: #ff00ea;
  --message-color-text: white;
  --message-border-color: white;
  --app-background: black;
  background-color: var(--app-background);
--message-other-background: #4056ff;
  --message-other-color-text: #00e1ff;
  --message-other-border-color: white;
  --message-box-shadow: 0px 0px 3em #00e1ff;
}

.send-button{
  color: #ff00ea;
  background-color: black;
  border: 1px red;
  font-family: 'Orbitron';
  box-shadow: 0px 0px 3em #00e1ff;
  font-size: larger;
}

.messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.messages .me {
  align-self: flex-end;
  background-color: var(--message-background);
  color: var(--message-color-text);
  border: 1px solid var(--message-border-color);
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  box-shadow: var(--message-box-shadow);
}

.messages .other {
  align-self: flex-start;
  background-color: var(--message-other-background);
  color: var(--message-other-color-text);
  border: 1px solid var(--message-other-border-color);
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  box-shadow: var(--message-box-shadow);
}

.user-inputs{
  display: flex;
  flex-direction: row;
}

.input-message-text{
  flex: 1;
  font-family: 'Orbitron';
  font-size: larger;
}

.select-user{
  font-family: 'Orbitron';
  color:#00e1ff;
  background-color: #4056ff;
  padding: 1em;
}
